@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.CalendarBody {
  box-sizing: border-box;
  width: 315px;
  height: 100%;
  padding-left: 16px;

  &__month {
    padding-bottom: 32px;
  }

  &__month-name {
    padding-right: 16px;
    margin-bottom: 4px;
    text-align: center;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }

  &__list {
    outline: none;
  }
}

@media #{$mobile} {
  .CalendarBody {
    width: 355px;
    padding: 0 15px;

    &__month-name {
      padding: 0;
    }
  }
}

@media #{$mobile-small} {
  .CalendarBody {
    width: 313px;
  }
}
