@import "@wildberries/ui-kit/lib/styles/media.module.scss";

.CalendarBody {
  box-sizing: border-box;
  width: 320px;
  // height: 380px;
  height: 100%;
  padding: 0 0 0 16px;
  // border: 1px solid red;

  &__month {
    padding-bottom: 32px;
  }

  &__month-name {
    margin-bottom: 4px;
    text-align: center;
  }

  &__days {
    display: flex;
    flex-wrap: wrap;
  }
}

@media #{$mobile} {
  .CalendarBody {
    width: 354px;

    &__days {
      padding-bottom: 1px;
    }
  }
}

@media #{$mobile-small} {
  .CalendarBody {
    width: 312px;
  }
}
