@import "@wildberries/ui-kit/styles/media.module.scss";
@import "@wildberries/ui-kit/styles/constants.module.scss";

.DatePickerMenu {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 180px;
  min-width: 180px;
  padding: 16px;
  background: $SuperDuperLightGrey;

  &__filter-button {
    margin-bottom: 16px;

    &--hidden {
      display: none;
    }
  }

  &__filters-block {
    width: 100%;
  }

  &__action-buttons {
    position: absolute;
    right: 16px;
    bottom: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;

    &--top {
      top: 16px;

      & > .DatePickerMenu__save-button {
        order: 1;
        margin: 0 0 8px 0;
      }
      & > .DatePickerMenu__cancel-button {
        order: 2;
        margin: 0;
      }
    }
  }

  &__save-button {
    width: 100%;
    margin-top: 8px;
  }

  &__cancel-button {
    width: 100%;
  }
}

@media #{$mobile} {
  .DatePickerMenu {
    width: 100%;
    min-width: 100%;
    min-height: 120px;
    padding: 16px;

    &__filters-block {
      display: flex;
      justify-content: space-between;
      min-height: 80px;
      margin-bottom: 8px;

      &--with-buttons {
        display: none;
      }
    }

    &__date {
      &:last-child {
        margin: 0 0 0 8px;
      }
    }

    &__action-buttons {
      position: static;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 8px;

      &--top {
        top: 16px;

        & > .DatePickerMenu__save-button {
          order: 2;
          margin: 0;
        }
        & > .DatePickerMenu__cancel-button {
          order: 1;
          margin: 0 0 8px 0;
        }
      }
    }

    &__save-button {
      width: 100%;
      margin-top: 8px;
    }

    &--with-interval-inputs {
      min-height: 224px;
    }
  }
}


@media #{$mobile-small} {
  .DatePickerMenu {
    min-height: 120px;
    padding: 8px;

    &--with-interval-inputs {
      min-height: 210px;
    }

    &__save-button {
      width: 100%;
      margin-top: 8px;
    }
  }
}
